@import 'bootstrap-variables';

@import 'plugins/main';
@import 'templates/main';

@import 'content';

.article-row {
    margin-top: 15px;
    margin-bottom: 15px;
}
.article-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.article-visual {
    background-size: contain;
    background-repeat: no-repeat;
}
.article-visual img {
    width: 100%;
    height: 100%;
}
.article-pagination{
    margin: auto;
}